<div class="container">

<h1>EDITAR USUARIO</h1><br>

    <form action="/user/update" method="post" id="form-container">

      <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" value="<%= user.username %>">
      </div>

      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" value="<%= user.email %>">
      </div>

      <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="description" value="<%= user.description %>">
      </div>

      <div id="update">
        <button>UPDATE</button>
      </div>

    </form>
  </div>
